{% extends "listings/base.html" %}
{% load bleach_tags zeesilver_extras %}
{% block breadcrumb %}
{{ block.super }}
<li class="active">Gallery</li>
{% endblock %}
{% block content %}
<div id="top" class="row justify-content-center">
  <div class="col-lg-3 col-sm-12">
    <div class="row">
      <aside class="col-12 p-3 px-0">
        {% filter_options 'categories' option='categories' %}
        {% filter_options 'by price' option='prices' %}
        <div class="pb-3">
          <a href="{% url 'listing-filter' %}" class="btn btn-secondary d-inline mx-3">
            Clear All
            <span class="fas fa-times-circle"></span>
          </a>
          <a
            href="
            {% if current_order == 'price' %}
            {% filter_href current_category current_price "-price" page_obj.number %}
            {% else %}
            {% filter_href current_category current_price "price" page_obj.number %}
            {% endif %}"
            class="btn btn-secondary mx-auto d-inline">
            Price
            <div class="d-inline mx-3 sort">
              {% with '#ffd90c' as yellow %}
              <span class="fas fa-sort-up" style="{% if current_order == 'price' %}color: {{ yellow }};{% endif %}"></span>
              <span class="fas fa-sort-down" style="{% if current_order == '-price' %}color: {{ yellow }};{% endif %}"></span>
              {% endwith %}
            </div>
          </a>
        </div>
      </aside>
    </div>
  </div>
  <div class="list col-lg-8 col-sm-12">
    <div class="row mt-3 mt-lg-0">
      {% for listing in page_obj %}
      <div class="col-lg-4 col-sm-10 by-category mt-5 mt-lg-0">
        {% legend listing.name|truncatewords:5 %}
        <div class="row mt-3">
          <div class="col-sm mt-2">
            <img id="pic" class="img-fluid float-lg-right float-sm-left" src="{{ listing.picture.url }}">
          </div>
          <div class="col mt-2">
            <p class="text-muted mt-1"><em>Pieces</em>: {{ listing.pieces }}</p>
            {% materials listing %}
            <hr>
            {{ listing.description|bleach|truncatewords_html:10 }}
            <hr>
            <div class="mt-4">
              <a href="{{ listing.get_absolute_url }}">
                <span
                  class="fa-eye far fa-2x mx-3"
                  style="color: gray;"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Details">
                </span>
              </a>
              {% add_to_cart listing %}
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12">
        {% include 'common/tags/empty_qs.html' %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 pt-4 mx-auto text-center">
        <hr>
        {% if is_paginated %}
        <ul id="pagination">
          {% if page_obj.has_previous %}
          <li><a class="btn btn-sm btn-outline-secondary" href="{% filter_href current_category current_price current_order 1 %}">First</a></li>
          <li>
            <a href="{% filter_href current_category current_price current_order page_obj.previous_page_number %}">
              <span class="prev"></span>
            </a>
          </li>
          {% endif %}

          {% for n in page_obj.paginator.page_range %}
          {% if page_obj.number == n %}
          <li class=""><span class="btn btn-sm btn-outline-secondary">{{ page_obj.number }}</span></li>
          {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
          <li><a class="btn btn-sm btn-secondary" href="{% filter_href current_category current_price current_order n %}">{{ n }}</a></li>
          {% else %}
          ...
          {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li>
            <a href="{% filter_href current_category current_price current_order page_obj.next_page_number %}">
              <span class="next"></span>
            </a>
          </li>
          <li><a class="btn btn-sm btn-outline-secondary" href="{% filter_href current_category current_price current_order page_obj.paginator.num_pages %}">Last</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
      <div id="to-top" class="d-lg-none col-sm-12 text-center">
        <a href="#top"><span></span></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block body_js %}
<script>
  const togglers = document.querySelectorAll('.toggler');
  Array.prototype.map.call(togglers, (toggler => {
    const icon = toggler.querySelector('.fas')
    toggler.addEventListener('click', () => {
      icon.classList.replace('fa-plus', 'fa-minus') || icon.classList.replace('fa-minus', 'fa-plus');
    });
  }));
</script>
{% endblock %}
