{% extends "listings/base.html" %}
{% load bleach_tags zeesilver_extras %}
{% block title %}{{ listing.name }} | {{ block.super }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
{% breadcrumb 'Gallery' 'listing:filter' %}
{% breadcrumb_active listing.name %}
{% endblock %}
{% block content %}
<div id="pic-modal" class="modal fade row" tabindex="-1">
  <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <img class="img-fluid" src="{{ listing.picture.url }}" alt="">
    </div>
  </div>
</div>
<div class="row pb-3">
  <div id="details" class="col-lg-6 col-md-12 mx-auto">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        {% legend listing.name %}
      </div>
    </div>
    <div class="col-12">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="" data-toggle="modal" data-target="#pic-modal">
          <img id="pic" class="float-lg-right float-sm-left" src="{{ listing.picture.url }}">
        </a>
      </div>
      <div class="col-md-6 col-sm-12 mt-2">
        <h3>{{ listing.price }}</h3>
        {% materials listing %}
        <hr>
        <p class="text-muted">Pieces: {{ listing.pieces }}</p>
        <div class="description">
          {{ listing.description|bleach }}
        </div>
        <div class="d-block">
          <form class="d-inline" action="{% url 'cart-add' %}" method="post">{% csrf_token %}
            <input type="hidden" name="listing" value="{{ listing.slug }}">
            <button {% if listing.sold %}disabled{% endif %} type="submit" class="btn btn-secondary">Add to Cart</button>
          </form>
        </div>
        <hr>
      </div>
    </div>
  </div>
    </div>
  <div id="related" class="col-lg-4 col-md-12 mx-auto">
    <div class="row h-100">
      <aside class="col-12">
        <h3 class="p-3">More {{ listing.category }}</h3>
        <hr>
        <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column align-items-center">
          <div class="text-center pb-3 mx-auto">
            {% for listing in related %}
            <div class="wrapper">
              <img src="{{ listing.picture.url }}">
              <a href="{{ listing.get_absolute_url }}">
                <div class="overlay">
                  <span class="nav-link">{{ listing.name }}</span>
                </div>
              </a>
            </div>
            {% empty %}
            <div>
              <h3>
                This piece is unique!
              </h3>
              <p>Come back soon to see more <em>{{ listing.category.name|lower }}</em></p>
            </div>
            {% endfor %}
            </ul>
          </div>
        </nav>
      </aside>
    </div>
  </div>
</div>
{% endblock %}
