{% extends "common/base.html" %}
{% load zeesilver_extras %}
{% block title %}Revoke Square Authorization{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 text-center">
    {% legend "Revoke Square Authorization" %}
    <div class="mt-3">
      <form action="{% url 'square-revoke' %}" method="POST">{% csrf_token %}
        <input type="submit" class="btn btn-secondary" value="Revoke authorization">
      </form>
    </div>
  </div>
</div>
{% endblock %}
