<h3>Thank you for your order, {{ order.name }}!</h3>
<h4>Your Order #{{ order.number }}</h4>
<hr>
{% for listing in order.listing_set.all %}
<p>{{ listing.name }}: {{ listing.price }}</p>
{% endfor %}
<hr>
<p>Total: {{ order.total }}</p>
<hr>
<p>You can follow your order by clicking on the link below or pasting it into your browser's URL bar:</p>
<p>{{ site_name }}{{ order.get_absolute_url }}</p>
<p>
  Please don't hesitate to reach out if you have any questions. This email address is not monitored for responses, but you can get in
  touch through contact@zeesilver.com
</p>
<p>Best regards,</p>
<p>Zee Silver</p>
