{% extends "shop/base.html" %}
{% load zeesilver_extras %}
{% block title %}Cancel{{ block.super }}{% endblock %}
{% block content %}
<div class="row justify-content-center mb-3">
  <div id="progress" class="col-12 text-center">
    <div class="w-50 mx-auto">
      {% legend 'Cancel' %}
    </div>
    <div>
      <form class="shop d-inline" method="POST">{% csrf_token %}
        <p>Are you sure you want to cancel your order?</p>
        <small class="text-muted">This will delete your current order and empty your cart</small>
        <hr>
        <div class="mt-3">
          <input type="submit" class="btn btn-danger" value="Confirm">
          <a class="btn btn-secondary d-inline" href="{{ url }}">Go Back</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
