@import 'vars';

aside {
  background-color: $dark-grey;
  padding-bottom: 10px;

  a {
    &.btn.btn-secondary {
      padding: 10px;
    }
  }

  div[data-toggle="collapse"] {
    cursor: pointer;
  }

  hr {
    border-top: 1px solid $grey;
  }

  h3 {
    font-family: $beth-ellen;
    color: $snow;
  }

  .navbar-expand .navbar-collapse {
    min-width: 100%;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: $snow;
    font-size: 18px;
    letter-spacing: .08em;
    font-weight: lighter;

    small {
      letter-spacing: normal;
    }

    &:hover {
      color: $light-blue;
    }

    &.current {
      color: $light-yellow;
      font-weight: 600;
      cursor: default;
      pointer-events: none;
    }
  }

  div.sort {
    position: relative;

    span {
      position: absolute;

      &.fa-sort-up {
        top: 0
      }

      &.fa-sort-down {
        bottom: 0
      }
    }
  }
}

#details {
  a img {
    cursor: zoom-in;
  }

  img {
    width: auto;
    max-height: 400px;

    @include lg {
      max-height: 500px;
    }
  }

  legend {
    font-family: $beth-ellen;
  }

  h3 {
    font-family: $monserrat;
  }

  div.description {
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    font-family: $crimson;
    border-left: 1px solid $light-grey;
    color: $medium-grey;
  }
}

#related {
  margin-top: 100px;

  @include lg {
    margin-top: 0;
  }

  .wrapper {
    position: relative;
    display: inline-block;

    img {
      max-height: 200px;
      width: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $dark-grey;
      opacity: .7;
      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: .3;
      }

      span {
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $snow;
        font-family: $monserrat;
        letter-spacing: .12em;
      }
    }
  }

  h3 {
    font-family: $beth-ellen;
  }

  p {
    font-family: $monserrat;
    color: $snow;
  }
}

#pic-modal {
  div {
    background: none;
    border: none;
  }

  button {
    margin-right: 6px;
    color: rgba(220, 220, 220, .9);
  }
}

#pagination {
  display: block ruby;

  li {
    font-family: $crimson;
    list-style: none;

    a span {
      &.prev {
        &:after {
          @include icon("\f053");
        }
      }

      &.next {
        &:after {
          @include icon("\f054");
        }
      }
    }
  }
}

#to-top {
  a span {
    &:after {
      @include icon("\f077");
    }
  }
}

.list {
  p {
    font-family: $crimson;
    font-size: 18px;
  }
}

.cart-button {
  background: none;
  padding: 0px;
  border: none;
}
