@import 'vars';

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, body-wrapper {
  padding-top: 60px;
  min-height: 100vh;
}

legend {
  font-family: $beth-ellen;
  color: $grey;
  font-size: 36px;

  .border-bottom {
    color: black;
  }
}

a {
  color: $light-blue;

  &:hover {
    color: $light-blue;
  }
}

a.btn, input.btn {
  padding: 10px;

  &.btn-info {
    background-color: #7da9d9;

    &:hover {
      background-color: #6187b0;
    }
  }

  &.btn-danger {
    background-color: $brick-red;

    &:hover {
      background-color: #a72e2c;
    }
  }
}

nav.navbar {
  background-color: $dark-grey;
  padding-bottom: 20px;

  .nav-item {
    font-family: $monserrat;
    color: $light-grey;

    &:hover {
      text-decoration: underline;
      color: $light-yellow;
    }
  }

  .nav-wrapper {
    position: relative;

    small {
      position: absolute;
      color: $light-blue;
      font-family: 'Dawning of a New Day', sans-serif;
      font-size: .9rem;
      left: 60px;
      bottom: 0;

      @include lg {
        left: 71px;
      }
    }
  }

  .btn-primary {
    background-color: $light-blue;
  }

  .navbar-brand {
    color: $light-grey;
    background-color: $dark-grey;
    font-family: 'Beth Ellen', sans-serif;
    font-size: 32px;
    padding-bottom: 10px;
  }

  .navbar-toggler {
    color: $light-grey;
  }
}

ul.crumb {
  display: block ruby;
  padding: 0 0 0 0;

  li {
    list-style: none;
    font-family: $crimson;
    display: inline-block;

    a {
      color: #5790cc;
      font-weight: bold;
    }

    &:after {
      @include icon("\f054", $light-grey);
    }

    &.active {
      color: $medium-grey;

      &:after {
        content: "";
        padding: 0 0 0 0;
      }
    }
  }
}

#main {
  flex: 1 1 auto;
  background: $snow;
  margin-top: 30px;
  padding: 50px 30px 30px;
  border: .05rem dotted $light-grey;
  min-height: 80vh;
}

#carousel {
  width: 100%;
  max-height: 250px;
  overflow: hidden;

  div.wrapper {
    background: #1d2227;
    width: 100%;

    img {
      max-height: 150px;
      filter: grayscale(100%);
      float: right;

      @include lg {
        max-height: 220px;
      }
    }

    div {
      h3 {
        font-family: $beth-ellen;
      }

      div.carousel-caption {
        span {
          font-family: $monserrat;
          font-weight: lighter;
          color: $light-grey;
          font-size: 12px;

          @include lg {
            font-size: 26px;
          }
        }
      }
    }
  }
}

#footer {
  position: fixed;
  bottom: 0;
  min-height: 30px;
  padding: 20px 0;
  width: 100%;

  @include lg {
    padding-bottom: 40px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.prices {
  padding: 10px 0;
  margin: 10px 0;

  div.block {
    background: url("/static/img/boards.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    padding: 25px;
    width: auto;

    a {
      h3, small {
        font-family: $monserrat;
        font-weight: bold;
        color: $dark-grey;
      }

      h3 {
        font-family: $beth-ellen;
      }
    }
  }
}

.card {
  max-width: 300px;
  overflow: hidden;

  p {
    font-family: $monserrat;
  }

  img {
    opacity: .7;
    max-width: 100%;

    &:hover {
      transform: scale(1.04);
      opacity: .9;
      transition: all 1.2s;
    }
  }

  .card-body {
    .card-title {
      font-family: $beth-ellen;
    }
  }
}

.jumbo-message {
  h1 {
    font-family: $beth-ellen;
  }

  p {
    font-family: $crimson;
  }
}

// override django-crispy-form asterisk display
.asteriskField {
  display: none;
}
