@import 'vars';

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, body-wrapper {
  padding-top: 60px;
  min-height: 100vh;
}

legend {
  font-family: $monserrat;
  color: $grey;

  .border-bottom {
    color: black;
  }
}

a {
  color: $light-blue;

  &:hover {
    color: $light-blue;
  }

}

ul.crumb {
  display: block ruby;
  padding: 0 0 0 0;

  li {
    list-style: none;
    font-family: $crimson;
    display: inline-block;

    a {
      color: #5790cc;
      font-weight: bold;
    }

    &:after {
      @include icon("\f054", $light-grey);
    }

    &.active {
      color: $medium-grey;

      &:after {
        content: "";
        padding: 0 0 0 0;
      }
    }
  }
}

#main {
  flex: 1 1 auto;
  background: $snow;
  margin-top: 30px;
  border: .05rem dotted $light-grey;
  padding: 60px;
}

#carousel {
  width: 100%;
  max-height: 250px;
  overflow: hidden;

  div.wrapper {
    background: #1d2227;
    width: 100%;

    img {
      max-height: 150px;
      filter: grayscale(100%);
      float: right;

      @include lg {
        max-height: 220px;
      }
    }

    div {
      h3 {
        font-family: $beth-ellen;
      }

      div.carousel-caption {
        span {
          font-family: $monserrat;
          font-weight: lighter;
          color: $light-grey;
          font-size: 12px;

          @include lg {
            font-size: 26px;
          }
        }
      }
    }
  }
}

#footer {
  padding: 20px 0 20px 0;
}

#search {
  input {
    font-family: $monserrat;
    color: $medium-grey;
    background: none;
    border: none;
    outline: none;
    visibility: hidden;
    box-shadow: none;
    width: 0px;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s, width .5s ease-in-out;
  }

  .fa-search {
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: $light-grey;
  }

  &:hover, &:active, &:focus {
    input {
      visibility: visible;
      opacity: 1;
      width: 200px;
      border-bottom: 1px solid gray;
    }

    .fa-search {
      transform: translateX(35%);
    }
  }
}

.navbar {
  background-color: $dark-grey;

  .nav-item {
    font-family: $monserrat;
    color: $light-grey;

    &:hover {
      text-decoration: underline;
      color: $light-yellow;
    }
  }
}

.nav-wrapper {
  position: relative;

  small {
    position: absolute;
    left: 71px;
    bottom: 0;
    color: $light-blue;
    font-family: 'Dawning of a New Day', sans-serif;
    font-size: .9rem;
  }
}

.btn-primary {
  background-color: $light-blue;
}

.navbar-brand {
  color: $light-grey;
  background-color: $dark-grey;
  font-family: 'Beth Ellen', sans-serif;
  font-size: 32px;
  padding-bottom: 10px;
}

.navbar-toggler {
  color: $light-grey;
}

.prices {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;

  div.block {
    background: url("/static/img/boards.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    padding: 25px;
    width: auto;

    a {
      h3, small {
        font-family: $monserrat;
        font-weight: bold;
        color: $dark-grey;
      }
    }
  }
}

.card {
  max-width: 300px;
  overflow: hidden;

  p {
    font-family: $monserrat;
  }

  img {
    opacity: .7;
    max-width: 100%;

    &:hover {
      transform: scale(1.04);
      opacity: .9;
      transition: all 1.2s;
    }
  }

  .card-body {
    .card-title {
      font-family: $beth-ellen;
    }
  }
}

.empty {
  h1 {
    font-family: $beth-ellen;
  }
}
