@import 'vars';

#search {
  input {
    font-family: $monserrat;
    color: $medium-grey;
    background: none;
    border: none;
    outline: none;
    visibility: hidden;
    box-shadow: none;
    border-bottom: 1px solid gray;
    width: 0px;
    opacity: 0;
    transition: visibility 2s, opacity 1.5s, width 1.5s ease-in-out;
    transition-delay: 3s;
  }

  .fa-search {
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: $light-grey;
  }

  &:hover, &:active, &:focus {
    input {
      transition-delay: 0s;
      visibility: visible;
      opacity: 1;
      width: 200px;
    }
  }
}

#results {
  p {
    font-family: $crimson;
  }

  h5 {
    font-family: $beth-ellen;
  }
}
